body {
    background: white;
}

@media (max-width: 600px) {
    #markButtonContainer .heart-button {
      transform: scale(0.5);
      transform-origin: center; /* keep the button centered while scaling */
    }
  }

  @media (max-width: 1920px) { 
    .gif-container img {
        width: 90%;
        height: 25vw;
    }
}

.gif-container img {
  max-width: 100%;
  height: 25vw;
  display: block;
  object-fit: contain; /* Prevent cropping */
}
